@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  padding: 0;
}

@media (min-width: 768px) {
  .letter {
    display: inline-block;
    line-height: 4.5rem;
  }
  .letter2 {
    display: inline-block;
    line-height: 4.5rem;
  }
}
